* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body > .container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container > .left-sidebar {
    display: grid;
    align-content: start;
    gap: 30px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 300px;
    padding: 30px;
}

.left-sidebar > .left-sidebar-title {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 30px;
    font-size: 32px;
    font-weight: 700;
}

.left-sidebar > .sidebar-menu-wrapper {
    display: grid;
    gap: 10px;
}

.sidebar-menu-wrapper > .sidebar-menu {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-menu > .sidebar-menu-icon {
    display: grid;
    place-content: center;
    width: 20px;
}

.left-sidebar > .add-book-button {
    display: grid;
    place-content: center;
    border: 1px solid grey;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

/* HEADER */

.container > .header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
}

.header > .header-left-area {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: center;
    width: 800px;
}

.header > .header-left-area > .header-title {
    font-size: 28px;
    font-weight: 700;
}

.header > .header-left-area > #search-book {
    height: 40px;
    width: 400px;
    font-family: "Poppins", sans-serif;
    padding: 5px 20px;
    outline: none;
    border: 1px solid grey;
    border-radius: 20px;
}

.header > .header-right-area {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 30px;
    align-content: center;
    align-items: center;
    /* width: 200px; */
}

.header-right-area > .profile-picture-wrapper {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 50%;
    overflow: hidden;
}

.header-right-area > .profile-picture-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-right-area > .profile-name {
    font-size: 18px;
    font-weight: 700;
}

/* MAIN CONTENT */

.container > .main-content {
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 1.5fr 1fr; */
    grid-template-columns: 1fr auto;
}

.main-content > .content-area {
    padding: 30px;
}

.content-area > .content-area-latest-book {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.content-area > .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-auto-rows: 300px; */
    gap: 30px;
}

.book-list > .book-template.hidden {
    display: none;
}

.book-list > .book-card {
    position: relative;
    border-radius: 10px;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.book-list > .book-card.selected {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(00 00 00 / 20%);
}

.book-card > .book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-card > .book-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(00 00 00 / 30%);
    padding: 10px;
    backdrop-filter: blur(1px);
    /* background-color: #00000020; */
}

.book-card > .book-read-status {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background-color: rgba(00 00 00 / 30%);
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.book-card > .book-read-status.read {
    background-color: #0ea5e9;
}

.book-card > .book-remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 0;
    color: #ffffff;
    background-color: rgba(00 00 00  / 30%);
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* RIGHT SIDEBAR */

.content-right-sidebar {
    width: 600px;
    transition: all 0.3s ease-in-out;
}

.content-right-sidebar.hidden {
    width: 0;
    overflow:hidden;
}

.right-sidebar-container {
    display: grid;
    align-content: start;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.right-sidebar-container > .right-sidebar-close {
    justify-self: start;
    background-color: #0ea5e9;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.right-sidebar-container > .right-sidebar-top {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    justify-content: start;
    gap: 20px;
}

.right-sidebar-top > .main-book-cover {
    width: 200px;
    aspect-ratio: 2 / 3;
    border-radius: 10px;
    overflow: hidden;
}

.main-book-cover > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right-sidebar-top > .book-details-wrapper {
    display: grid;
    align-content: space-between;
}

.book-details-wrapper > .book-details {
    display: grid;
    align-content: start;
    gap: 5px;
}

.book-details > .book-details-title {
    font-size: 24px;
    font-weight: 500;
}

.book-details > :not(.book-details-title) {
    font-size: 14px;
    font-weight: 500;
}
.book-details > :not(.book-details-title) > span {
    font-weight: 400;
}

.book-details-wrapper > .book-action-wrapper {
    display: grid;
    grid-template-columns: repeat(2, min(150px, 200px));
    gap: 20px;
}

.book-action-wrapper > .book-action-button {
    display: grid;
    place-content: center;
    font-weight: 500;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.right-sidebar-bottom > .book-overview-title {
    font-size: 24px;
    font-weight: 500;
}


/* ADD NEW BOOK POPUP MODAL */

.container > .add-book-modal {
    --modal-width: 400px;
    --modal-height: 680px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    position: absolute;
    top: calc(50% - (var(--modal-height) / 2));
    left: calc(50% - (var(--modal-width) / 2));
    width: var(--modal-width);
    height: var(--modal-height);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(00 00 00 / 20%);
    transition: 1s all ease-in-out;
}

.container > .add-book-modal.hidden {
    display: none;
}


.add-book-modal > .modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.add-book-modal .add-book-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.add-book-form-wrapper > .form-row {
    display: flex;
    flex-direction: column;
}

.form-row > label {
    font-size: 14px;
    font-weight: 500;
}

.form-row > :is(input[type="text"], input[type="number"], #book-description) {
    font-family: Poppins, sans-serif;
}

.form-row > :is(input[type="text"], input[type="number"]) {
    height: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid grey;
    outline: none;
}

.form-row > #book-description {
    height: 5lh;
    padding: 5px 20px;
    resize: none;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
}

.form-row.read-status-check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}


#book-isbn:focus:invalid {
    border-color: red;
}

#book-isbn + div {
    position: relative;
}

#book-isbn:focus:invalid +div::after {
    position: absolute;
    content: "ISBN number should be 5 digit number";
    font-size: 12px;
    color: red;
}

.buttons-wrapper {
    display: flex;
    gap: 10px;
    margin-top: auto;
}
.buttons-wrapper > button {
    flex: 1;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    padding: 15px;
    border-radius: 5px;
    border: none;
}